@font-face {
    font-family: 'pokemonwrite';
    src: url('../assets/fonts/PokemonSolid.ttf') format('truetype');
  }
@font-face {
    font-family: 'maple';
    src: url('../assets/fonts/MaplestoryBold.ttf') format('truetype');
  }
